:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --yellow-color: #FFFF00;
}

html {
   font-family: open-sans-regular; 
   font-size: 10px;
   height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--black-color);
    flex-direction: column;
    height: 100%;
    margin: 0 4%;
}

body, header, .navigation, .nav-items-menu, .nav-left, .nav-right, .my-projects, .display-flex, footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

header {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 4%;
}

.navigation {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.logo {
    color: var(--yellow-color);
    font-family: reey-regular;
    font-size: 3rem;
    text-decoration: none;
    width: 400px;
}

.nav-menu {
    width: -webkit-fill-available;
}

.menu-click {
    cursor: pointer;
    height: 31px;
    position: fixed;
    width: 126px;
    z-index: 10;
}

.hamburger-menu {
    display: none;
}

.nav-items-menu {
    justify-content: space-between;
}

.nav-left,
.nav-right {
    align-items: center; 
    flex-direction: row;
    font-size: 2rem;
    gap: 32px;
    justify-content: center;
}

.menu-item {
    color: var(--white-color);
}

.clickable-item {
    cursor: pointer;
}

.my-projects {
    flex-direction: column;
    position: relative;
}

.sub-menu-item,
.menu-item {
    text-decoration: none;
}

.sub-menu {
    background-color: var(--black-color);
    border: 3px solid var(--white-color);
    border-radius: 10px;
    color: var(--white-color);
    display: none;
    flex-direction: row;
    font-size: 1.5rem;
    padding: 8px 8px;
    position: absolute;
    top: 38px;
    width: 260px;
    z-index: 1000;
}

.sub-menu > * {
    margin: 4px 4px;
}

.let-sub-menu-display-block {
    display: block;
}

.sub-menu-item {
    border-bottom: 1px solid transparent;
    color: var(--white-color);
    display: inline-block;
}

h4 {
    font-weight: 100;
}

.projects-in-school {
    left: 42%;
    position: absolute;
    width: max-content;
}

.projects-in-school-container {
    background-color: var(--black-color);
    border: 2px solid white;
    border-radius: 0 0 10px 10px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 33px;
    width: max-content;
}

.second-level-sub-menu-item {
    color: var(--white-color);
    display: block;
    padding: 4px 4px 4px 8px;
    text-decoration: none;
}

.second-level-sub-menu-item:hover {
    opacity: .6;
}

.second-level-sub-menu-item:nth-of-type(4) {
    padding-bottom: 8px;
}

.nav-right {
    padding-left: 32px;
}

h1 {
    color: var(--white-color);
    font-size: 3rem;
    text-align: center;
}

footer {
    align-items: center;
    border-top: 3px solid var(--white-color);
    color: var(--white-color);
    justify-content: center;
    margin-top: 96px;
}

.logo-text {
    color: var(--yellow-color);
    font-family: reey-regular;
}

.logo-text,
footer > h3 {
    font-size: 2rem;
}

@media screen and (max-width: 902px) {
    .logo {
        font-size: 2rem;
    }

}

@media screen and (max-width: 869px) {
    .navigation {
        padding: 22px 0;
    }

    .logo {
        left: 75%;
        position: absolute;
    }

    .nav-menu {
        border: 1px solid var(--white-color);
        height: 4em;
        width: 4em;
    }

    .nav-menu:hover {
        cursor: pointer;
    }

    .menu-click {
        left: 8%;
        top: 9%;
    }

    .nav-items-menu {
        display: none;
        height: 100px;
        position: relative;
        top: 16px;
        width: max-content;
    }

    .nav-items-menu,
    .nav-left,
    .nav-right {
        flex-direction: column;
    }

    .nav-left,
    .nav-right {
        align-items: flex-start;
        gap: 4px;
    }

    .hamburger-menu {
        align-items: center;
        gap: 6px;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        position: unset;
        width: 100%;
        z-index: 20;
    }

    .hamburger-menu, .active-hamburger-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .hamburger-menu-line {
        background-color: var(--white-color);
        height: 1px;
        width: 60%;
    }

    .active-hamburger-menu {
        gap: 4px;
    }

    .sub-menu {
        border: 0;
        left: -8%;
    }

    .active-sub-menu {
        border: 0;
        left: 0%;
        padding: 0;
        top: 34px;
        width: fit-content;
    }

    .projects-in-school {
        top: 71%;
    }

    .projects-in-school-position {
        left: 0%;
    }

    .active-sub-menu-projects {
        background-color: none;
        border: 0;
        top: 20px;
    }

    .active-sub-menu-projects-in-school {
        background-color: none;
        border: 0;
        border-radius: 0;
        top: 20px;
    }

    .my-skills-position {
        position: relative;
        top: 46px;
    }

    .my-skills-position-while-sub-menu-active {
        top: 165px;
    }

    .nav-right {
        padding-left: 0;
        position: relative;
    }

    .nav-right-position {
        top: 45px;
    }

    .nav-right-position-while-sub-menu-active {
        top: 165px;
    }

    .active-margin-top {
        margin-top: 130px;
    }

    .sub-menu-active-margin-top {
        margin-top: 180px;
    }

    .active-margin-top-while-projects-in-school-sub-menu-active {
        margin-top: 300px;
    }
}

@media screen and (max-width: 735px) {
    .logo {
        left: 70%;
    }
}

@media screen and (max-width: 605px) {
    .logo {
        left: 65%;
    }
}

@media screen and (max-width: 491px) {
    .logo {
        left: 55%;
    }

    footer > h3 {
        font-size: 1.5rem;
    }
}

